extends ../header.jade

block content
  .container
    h3 Impression
    form(method="POST")
      .form-group
        label(for="beacon") Beacon
        input.form-control(type="text", name="beacon", id="beacon", value="#{entity.beacon}")
      .form-group
        label(for="special") Special
        input.form-control(type="text", name="special", id="special", value="#{entity.special}")
      .form-group
        label(for="customer") Customer
        input.form-control(type="text", name="customer", id="customer", value="#{entity.customer}")
      .form-group
        button.btn.btn-success(type="submit") Save
