include header.pug
  
.container.tiles
  .row
    .col-sm-4.tile
      a(href="/beacons", alt="Beacons")
        img(src="tile-beacons.png")
        h3 Beacons
    .col-sm-4.tile
      a(href="/specials", alt="Specials")
        img(src="tile-specials.png")
        h3 Specials
    .col-sm-4.tile
      a(href="/reports", alt="Reports")
        img(src="tile-reports.png")
        h3 Reports
