extends ./header.jade

block content
  .container
    h2 Home
    .row
      .col-xs-6.col-sm-4.col-md-3.tile-col
        a(href="/beacons", alt="Beacons")
          .tile
            span.glyphicon.glyphicon-map-marker
            h3 Beacons
      .col-xs-6.col-sm-4.col-md-3.tile-col
        a(href="/specials", alt="Specials")
          .tile
            span.glyphicon.glyphicon-shopping-cart
            h3 Specials
      .col-xs-6.col-sm-4.col-md-3.tile-col
        a(href="/users", alt="Users")
          .tile
            span.glyphicon.glyphicon-user
            h3 Users
      .col-xs-6.col-sm-4.col-md-3.tile-col
        a(href="/reports", alt="Reports")
          .tile
            span.glyphicon.glyphicon-th-list
            h3 Reports
        
                  