include header.pug

input(type="hidden", id="barChartData", value=barChartData)
input(type="hidden", id="bubbleDatasets", value=bubbleDatasets)
input(type="hidden", id="monthNames", value=monthNames)
input(type="hidden", id="monthCounts", value=monthCounts)

script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js")
.container.report
  h2 Hits per Beacon
  canvas.chartshape(id="hits-per-beacon")
.container.report
  h2 Hits per Month
  canvas.chartshape(id="hits-per-month")
.container.report
  h2 Hits by Location
  canvas.chartshape(id="hits-by-location")
script(type="text/javascript", src="https://iradar-dev.appspot.com/reports.js")
