extends ./header.jade

block content
  .container
    h2 Reports
    .row
      .col-xs-6.col-sm-4.col-md-3.tile-col
        a(href="/reports/impressions", alt="Impressions")
          .tile
            span.glyphicon.glyphicon-map-marker
            h3 Impressions
      .col-xs-6.col-sm-4.col-md-3.tile-col
        a(href="/reports/heatmap", alt="Hits per Beacons")
          .tile
            span.glyphicon.glyphicon-shopping-cart
            h3 Hits per Beacons
      .col-xs-6.col-sm-4.col-md-3.tile-col
        a(href="/reports/barchart", alt="Hits per Special")
          .tile
            span.glyphicon.glyphicon-user
            h3 Hits per Special
      .col-xs-6.col-sm-4.col-md-3.tile-col
        a(href="/reports/paths", alt="Customer Visits")
          .tile
            span.glyphicon.glyphicon-th-list
            h3 Customer Visits
        
                  