include header.pug

script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js")
.container.report
  h2 Hits Per Special
  canvas.chartshape(id="irdarlinechart")
.container.report
  h2 Hits Per Beacon
  canvas.chartshape(id="irdarbarchart")
.container.report
  h2 Impressions Report
  canvas.chartshape(id="irdarbubblechart")
script(type="text/javascript", src="https://iradar-dev.appspot.com/reports.js")
  