<!doctype html>
<html lang="en">
<head>
	<title>iRadar</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='css/iradar_style.css' rel='stylesheet' type='text/css'>
</head>

<body>
    
    <header>
        <img src="images/iRadarLogo.png" alt="iRadar Logo" />
        <nav class="pull-right">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Manage Beacons</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2>Welcome to <span class="brand">iRadar</span></h2>
        <h2>Your Proximity Beacon Management System</h2>
        
        <div id="tiles">
            <div class="tile">
                <img src="images/phone.png" alt="Add New Advertisements" />
                <a href=""><h3>Add New Advertisements</h3></a>
            </div>
            <div class="tile">
                <img src="images/plus.png" alt="Manage Beacons" />
                <a href=""><h3>Manage Beacons</h3></a>
            </div>
            <div class="tile">
                <img src="images/reports.png" alt="View Reports" />
                <a href=""><h3>View Reports</h3></a>
            </div>
        </div>
        
    </main>
    
    <footer>
        <h4>My Recent Beacons</h4>
        <ul>
            <li>16-03-2017 Fruit Special</li>
            <li>05-03-2017 Drink Promotion</li>
            <li>01-01-2017 New Years Promotion</li>
        </ul>
    </footer>
    
</body>
</html>